.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.login-card {
  width: 35%;
}

.login-title {
  color: orangered;
}

.login-button {
  background-color: orangered;
  padding: 5px 10px;
}